@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;700&family=Poppins:wght@500&display=swap');

/* Estilos generales */
* {
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Head */

.header {
    display: flex;
    align-items: center;
    height: 72px;
    background-color: rgb(20, 33, 61);
    padding: 5px 10%;
    justify-content: flex-start;
}

.header .logo p {
    font-size: 24px;
    font-weight: 100;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

.header .logo {
    cursor: pointer;
}

.header .logo a {
    text-decoration: none;
    color: #fff;
}


.header .logo p:hover {
    transform: scale(1.2);
}

.header .navBar {
    list-style: none;
}

.header .navBar li {
    display: inline-block;
    padding: 12px;
}

.header .navBar a {
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}

.header .navBar #Reservar {
    border-bottom: solid 4px #fff;
    padding-bottom: 22px;
    color: rgb(252, 163, 17);
}

.header .navBar li:hover {
    transform: scale(1.1);
}

.navBar a:hover {
    color: rgb(252, 163, 17);
}

.header #labelHeader {
    font-size: 14px;
    font-weight: 100;
    font-weight: bold;
    color: #fff;
}

.header .loginContainer {
    display: flex;
}

.header .loginContainer p {
    padding-right: 15px;
}

.header .loginContainer {
    margin-left: auto;
}

.header .btn button {
    font-weight: 600;
    height: 44px;
    width: 97px;
    background-color: rgb(252, 163, 17);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    transform: scale(1.1);
}


/* Imagenes Coches */

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
}

.img-container{
    width: 100%;
    position: relative;
}

.main-content #img-main-1{
    position: relative;
    width: 300px;
    height: 300px;
    left: 439px;
}

.main-content #img-main-2{
    position: absolute;
    width: 579px;
    height: 260px;
    right: 280px;
    top: 65px;
}

.main-content #img-main-3{
    position: relative;
    width: 636px;
    height: 357px;
    left: 103px;
    bottom: 20px;
}

/* Texto y Div 1 */
.container1 {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-left: 40px;
    margin-top: 50px;
}

.header1 {
    display: flex;
    align-self: stretch;
    padding-left: 8px;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 16px;
    height: 16px;
    background: linear-gradient(165deg, #65BC8D 0%, rgba(129.67, 213.64, 90.15, 0.47) 100%);
    box-shadow: 0px 0px 6px 2px rgba(130.11, 209.39, 50.84, 0.25);
    border-radius: 9999px;
}

.container1 .header1 .text {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
}

.container1 .content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.container1 .content h1 {
    letter-spacing: 5px;
    font-size: 60px;
    font-weight: 400;
    line-height: 70.60px;
}

.container1 .content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
}


/* Barra de busqueda */
.info-box {
    width: 700px;
    height: 58px;
    position: absolute;
    background: #FCA311;
    border-radius: 15px;
    overflow: hidden;
    border: 9px #FCA311 solid;
    display: flex;
    justify-content: space-between;
    background-color: orange;
    padding: 3px;
}

.info {
    border: none;
    border-radius: 5px;
    text-align: center;
}

#input--Lugar--Recogida{
    width: 213px;
}

#input--Fecha-Recogida{
    width: 100px;
}

#input--Hora--Recogida{
    width: 70px;
}

#input--Fecha-Devolucion{
    width: 100px;
}

#input--Hora-Devolucion{
    width: 70px;
}

.button{
    width: 70px;
    height: 35px;
    border: none;
    text-align: center;
    font-weight: 800;
    color: white;
    background: #109F16;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    padding-top: 8px;
}

/* Pie de pagina */

.scroll-hint {
    left: 640px;
    top: 716px;
    position: absolute;
    color: #919C9F;
    font-size: 20px;
    line-height: 30px;
}