@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;700&family=Poppins:wght@500&display=swap');
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter Tight', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 72px;
    background-color: #111;
    padding: 5px 10%;
    justify-content: flex-start;
}

.header .logo p {
    font-size: 24px;
    font-weight: 100;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

.header .logo {
    cursor: pointer;
}

.header .logo a {
    text-decoration: none;
    color: #fff;
}


.header .logo p:hover {
    transform: scale(1.2);
}

.header .navBar {
    list-style: none;
}

.header .navBar li {
    display: inline-block;
    padding: 12px;
}

.header .navBar a {
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}

.header .navBar #Reservar {
    border-bottom: solid 4px #fff;
    padding-bottom: 22px;
    color: rgb(252, 163, 17);
}

.header .navBar li:hover {
    transform: scale(1.1);
}

.navBar a:hover {
    color: rgb(252, 163, 17);
}

.header #labelHeader {
    font-size: 14px;
    font-weight: 100;
    font-weight: bold;
    color: #fff;
}

.header .loginContainer {
    display: flex;
}

.header .loginContainer p {
    padding-right: 15px;
}

.header .loginContainer {
    margin-left: auto;
}

.header .btn button {
    font-weight: 600;
    height: 44px;
    width: 97px;
    background-color: rgb(252, 163, 17);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    transform: scale(1.1);
}

/*HASTA AQUÍ VA EL HEADER*/

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    height: 80vh;
    padding: 50px 401px 401px;
}

.message {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: #002B31;
}

.message h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 57.60px;
}

.message p {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    color: black;
}

.back-button button {
    width: 222px;
    height: 38px;
    background: #FCA311;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.back-button button:hover {
    transform: scale(1.1);
}

